{% extends "base.html" %}
{% block title %}Produse | Scan Pret{% endblock %}

{% block content %}
{% include "products/partials/_filter_bar.html" %}
{% include "products/partials/_bulk_bar.html" %}
{% include "products/partials/_products_table.html" %}
{% include "products/partials/_pagination.html" %}
{% include "products/partials/_styles.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
{% include "products/partials/_scripts.html" %}
{% endblock %}

{% block modals %}
{% include "products/partials/_modals.html" %}
{% endblock %}
